# {{ ansible_managed }}
database_host: {{ maas_database.host | default("localhost") }}
database_name: {{ maas_database.name | default("maasdb") }}
database_pass: {{ maas_database.password | mandatory() }}
database_port: {{ maas_database.port | default("5432") }}
database_user: {{ maas_database.user | default("maas") }}

{% if maas.single_node %}
maas_url: {{ maas_regiond.api.scheme }}://{{ maas_regiond.api.url }}
{% else %}
maas_url: {{ maas_regiond.api.scheme }}://127.0.0.1:5240/MAAS
{% endif %}
maas_name: {{ maas_name }}

# Enlistment options
enlist_commissioning: True

# DNS
default_dns_ttl: {{ maas_dns.ttl }}
upstream_dns: {{ maas_dns.upstream }}
dnssec_validation: auto
dns_trusted_acl: None
maas_internal_domain: {{ maas_dns.domain }}

# Storage
default_storage_layout: {{ maas_storage.default_layout }}

# Disk erasing
enable_disk_erasing_on_release: {{ maas_storage.disk_erasing.enabled }}
disk_erase_with_secure_erase: {{ maas_storage.disk_erasing.secure }}
disk_erase_with_quick_erase: {{ maas_storage.disk_erasing.quick }}

# Proxy
enable_http_proxy: {{ maas_proxy.enabled }}
maas_proxy_port: {{ maas_proxy.port }}
use_peer_proxy: {{ maas_proxy.peer_proxy }}
http_proxy: None
prefer_v4_proxy: False

# NTP
ntp_servers: {{ maas_ntp.server }}
ntp_external_only: {{ maas_ntp.external_only }}

# Syslog
remote_syslog: {{ maas_syslog.remote }}
maas_syslog_port: {{ maas_syslog.port }}

# Network discovery
network_discovery: {{ maas_discovery.enabled }}
active_discovery_interval: {{ maas_discovery.interval }}
active_discovery_last_scan: {{ maas_discovery.last }}

# RPC
rpc_region_certificate: None
rpc_shared_secret: None
uuid: None

# Images
boot_images_auto_import: {{ maas_image.auto_import }}
boot_images_no_proxy: {{ maas_image.no_proxy }}

# Third Party
enable_third_party_drivers: True

# Curtin
curtin_verbose: True

# Netplan
force_v1_network_yaml: False

# Analytics
enable_analytics: False

# First admin journey
completed_intro: False
max_node_commissioning_results: 10
max_node_testing_results: 10
max_node_installation_results: 3

# Notifications
subnet_ip_exhaustion_threshold_count: 16

{% if maas_auth is defined and maas_auth.external_auth_url %}
# Authentication
external_auth_url: {{ maas_auth.external_auth_url }}
external_auth_user: {{ maas_auth.external_auth_user }}
external_auth_key: {{ maas_auth.external_auth_key }}
external_auth_domain: {{ maas_auth.external_auth_domain }}
external_auth_admin_group: {{ maas_auth.external_auth_admin_group }}
macaroon_private_key: {{ maas_auth.macaroon_private_key }}
rbac_url: {{ maas_auth.rbac_url }}
{% endif %}

# MAAS Architecture
use_rack_proxy: {{ maas_proxy.use_rack_proxy }}
node_timeout: 30

# Prometheus
prometheus_enabled: {{ maas_prometheus.enabled }}
prometheus_push_gateway: {{ maas_prometheus.push_gateway }}
prometheus_push_interval: {{ maas_prometheus.push_interval }}
