# {{ ansible_managed }}
database_host: {{ maas_database.host | default("localhost") }}
database_name: {{ maas_database.name | default("maasdb") }}
database_pass: {{ maas_database.password | mandatory() }}
database_port: {{ maas_database.port | default("5432") }}
database_user: {{ maas_database.user | default("maas") }}
{% if maas.single_node %}
maas_url: {{ maas_regiond.api.scheme }}://{{ maas_regiond.api.url }}
{% else %}
maas_url: {{ maas_regiond.api.scheme }}://127.0.0.1:5240/MAAS
{% endif %}

default_dns_ttl: 30
upstream_dns: None
dnssec_validation: auto
dns_trusted_acl: None
maas_internal_domain: maas-internal

default_storage_layout: flat

enable_http_proxy: True
maas_proxy_port: 8000
use_peer_proxy: False
http_proxy: None
prefer_v4_proxy: False

ntp_servers: ntp.ubuntu.com
ntp_external_only: False

# Syslog settings
remote_syslog: None
maas_syslog_port: 5247

# Network discovery.
network_discovery: enabled
active_discovery_interval: int(timedelta(hours=3).total_seconds())
active_discovery_last_scan: 0

# RPC configuration.
rpc_region_certificate: None
rpc_shared_secret: None
uuid: None

# Images.
boot_images_auto_import: True
boot_images_no_proxy: False

# Third Party
enable_third_party_drivers: True

# Disk erasing.
enable_disk_erasing_on_release: False
disk_erase_with_secure_erase: True
disk_erase_with_quick_erase: False

# Curtin.
curtin_verbose: True

# Netplan
force_v1_network_yaml: False

# Analytics.
enable_analytics: True

# First admin journey.
completed_intro: False
max_node_commissioning_results: 10
max_node_testing_results: 10
max_node_installation_results: 3

# Notifications.
subnet_ip_exhaustion_threshold_count: 16

# Authentication.
external_auth_url:
external_auth_user:
external_auth_key:
external_auth_domain:
external_auth_admin_group:
macaroon_private_key: None
rbac_url:

# MAAS Architecture.
use_rack_proxy: True
node_timeout: 30

# prometheus.
prometheus_enabled: False
prometheus_push_gateway: None
prometheus_push_interval: 60

# Enlistment options
enlist_commissioning: True
